
.project-wrap{
  .listone{
    .ant-card-head{
      background: #5cb85c;
    }
  }
  .listtwo{
    .ant-card-head{
      background: #F0433D;
    }
  }
  .listthree{
    .ant-card-head{
      background: #2DAFCB;
    }
  }
  .listfour{
    .ant-card-head{
      background: #f0ad4e;
    }
  }

  .ant-card-head-title{
    color:#fff;
    font-size: 18px;
    padding:16px 10px;
  }
  .ant-card-extra{
    color: #fff;
  }
  .ant-card-body{
    padding:16px;
  }
}
body{
  background:#f3f3f3
}
